//建立pug語法的基本頁面
doctype html
html(lang="en")
  head
    title Landing Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 The future home of something magical!
    p Welcome to Flashcards! Click the button below to start studying.
    a(href='/study') Study
    p
      | Or
      a(href='/cards') View all cards
    p
      | Or
      a(href='/cards/new') Create a new card